<p-card header="Lista de personas">
<p-table #dt [value]="personas" dataKey="id_persona" [rows]="5" [paginator]="true"  [lazy]="true"  [totalRecords]="totalRecords" 
    (onLazyLoad)="getAllPersonas($event)" [loading]="loading" [globalFilterFields]="['nombre', 'apellido', 'email']" 
    [responsiveLayout]="'scroll'">

        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 justify-content-between align-items-center">

                <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (onClick)="visible_post = true" />

                <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt)" />
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="filtrarGlobal($event)"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>
                    ID
                    <p-columnFilter type="numeric" field="id_persona" display="menu" />
                </th>
                <th>
                    Nombre
                    <p-columnFilter type="text" field="nombre" display="menu" />
                </th>
                <th>
                    Apellido
                    <p-columnFilter type="text" field="apellido" display="menu" />
                </th>
                <th>
                    Fecha de nacimiento
                    <p-columnFilter type="date" field="fecha_nacimiento" display="menu" />
                </th>
                <th>
                    Telefono
                    <p-columnFilter type="numeric" field="telefono" display="menu" />
                </th>
                <th>
                    Email
                    <p-columnFilter type="text" field="email" display="menu" />
                </th>
                <th>
                    Password
                    <p-columnFilter type="text" field="email" display="menu" />
                </th>

                <th>
                    Acciones
                    <p-columnFilter field="email" display="menu" />
                </th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>{{ persona.id_persona }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fecha_nacimiento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.email }}</td>
                <td>
                    <span *ngIf="visiblePasswordId !== persona.id_persona">••••••••</span>
                    <span *ngIf="visiblePasswordId === persona.id_persona">{{ persona.password }}</span>
                    <button pButton type="button"
                        icon="{{ visiblePasswordId === persona.id_persona ? 'pi pi-eye-slash' : 'pi pi-eye' }}"
                        class="p-button-text p-button-sm ml-2 align-center p-0"
                        (click)="visiblePasswordId = visiblePasswordId === persona.id_persona ? null : persona.id_persona">
                    </button>
                </td>
                <td>
                    <p-button (onClick)="selectPersonas(persona.id_persona)" icon="pi pi-pencil" severity="warning"
                        class="mr-2" />
                    <p-button (onClick)="confirmDelete(persona.id_persona)" icon="pi pi-times" severity="danger" />
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No se encontraron personas.</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- PUT FORM -->
    <form #formPut="ngForm" (ngSubmit)="putPersonas(selectedPersona.id_persona)" novalidate>
        <p-dialog header="Editar Persona" [(visible)]="visible_put" [modal]="true" [style]="{ width: '30rem' }">

            <!-- Nombre -->
            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input pInputText id="nombre" name="nombre" type="text" [(ngModel)]="selectedPersona.nombre"
                    class="w-full" required minlength="2" #nombre="ngModel" />
                <small class="p-error" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    El nombre es requerido (mínimo 2 caracteres).
                </small>
            </div>

            <!-- Apellido -->
            <div class="mb-3">
                <label for="apellido">Apellido</label>
                <input pInputText id="apellido" name="apellido" type="text" [(ngModel)]="selectedPersona.apellido"
                    class="w-full" required minlength="2" #apellido="ngModel" />
                <small class="p-error" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    El apellido es requerido (mínimo 2 caracteres).
                </small>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email">Email</label>
                <input pInputText id="email" name="email" type="email" [(ngModel)]="selectedPersona.email"
                    class="w-full" required email #email="ngModel" />
                <small class="p-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    Ingresa un correo válido.
                </small>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <div class="p-inputgroup">
                    <input [type]="showPasswordPut ? 'text' : 'password'" id="password" name="password"
                        [(ngModel)]="selectedPersona.password" required minlength="6" #password="ngModel" class="w-full"
                        pInputText />

                    <button pButton type="button" icon="{{ showPasswordPut? 'pi pi-eye-slash' : 'pi pi-eye' }}"
                        class="p-button-text p-button-sm p-button-plain" (click)="showPasswordPut = !showPasswordPut">
                    </button>
                </div>
                <small class="p-error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    La contraseña es obligatoria (mínimo 6 caracteres).
                </small>
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
                <label for="telefono">Teléfono</label>
                <input pInputText id="telefono" name="telefono" type="text" [(ngModel)]="selectedPersona.telefono"
                    class="w-full" required pattern="^[0-9]{10}$" #telefono="ngModel" />
                <small class="p-error" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                    Ingresa un número de 10 dígitos.
                </small>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="mb-3">
                <label for="fecha">Fecha de Nacimiento</label>
                <input pInputText id="fecha" name="fecha_nacimiento" type="date"
                    [(ngModel)]="selectedPersona.fecha_nacimiento" class="w-full" required
                    #fecha_nacimiento="ngModel" />
                <small class="p-error"
                    *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento.dirty || fecha_nacimiento.touched)">
                    La fecha es obligatoria.
                </small>
            </div>

            <!-- Botones -->
            <div class="flex justify-content-end gap-2">
                <p-button label="Cancelar" severity="secondary" (onClick)="visible_put = false" />
                <p-button label="Guardar" type="submit" [disabled]="formPut.invalid" />
            </div>
        </p-dialog>
    </form>

    <!-- POST FORM -->
    <form #formPost="ngForm" (ngSubmit)="postPersonas()" novalidate>
        <p-dialog header="Agregar Persona" [(visible)]="visible_post" [modal]="true" [style]="{ width: '30rem' }">

            <!-- Nombre -->
            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input pInputText id="nombre" name="nombre" type="text" [(ngModel)]="personas_form.nombre"
                    class="w-full" required minlength="2" #nombre_post="ngModel" />
                <small class="p-error" *ngIf="nombre_post.invalid && (nombre_post.dirty || nombre_post.touched)">
                    El nombre es requerido (mínimo 2 caracteres).
                </small>
            </div>

            <!-- Apellido -->
            <div class="mb-3">
                <label for="apellido">Apellido</label>
                <input pInputText id="apellido" name="apellido" type="text" [(ngModel)]="personas_form.apellido"
                    class="w-full" required minlength="2" #apellido_post="ngModel" />
                <small class="p-error" *ngIf="apellido_post.invalid && (apellido_post.dirty || apellido_post.touched)">
                    El apellido es requerido (mínimo 2 caracteres).
                </small>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email">Email</label>
                <input pInputText id="email" name="email" type="email" [(ngModel)]="personas_form.email" class="w-full"
                    required email #email_post="ngModel" />
                <small class="p-error" *ngIf="email_post.invalid && (email_post.dirty || email_post.touched)">
                    Ingresa un correo válido.
                </small>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <div class="p-inputgroup">
                    <input [type]="showPasswordPost ? 'text' : 'password'" id="password" name="password"
                        [(ngModel)]="personas_form.password" required minlength="6" #password_post="ngModel"
                        class="w-full" pInputText />

                    <button pButton type="button" icon="{{ showPasswordPost ? 'pi pi-eye-slash' : 'pi pi-eye' }}"
                        class="p-button-text p-button-sm p-button-plain" (click)="showPasswordPost = !showPasswordPost">
                    </button>
                </div>
                <small class="p-error" *ngIf="password_post.invalid && (password_post.dirty || password_post.touched)">
                    La contraseña es obligatoria (mínimo 6 caracteres).
                </small>
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
                <label for="telefono">Teléfono</label>
                <input pInputText id="telefono" name="telefono" type="text" [(ngModel)]="personas_form.telefono"
                    class="w-full" required pattern="^[0-9]{10}$" #telefono_post="ngModel" />
                <small class="p-error" *ngIf="telefono_post.invalid && (telefono_post.dirty || telefono_post.touched)">
                    Ingresa un número de 10 dígitos.
                </small>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="mb-3">
                <label for="fecha">Fecha de Nacimiento</label>
                <input pInputText id="fecha" name="fecha_nacimiento" type="date"
                    [(ngModel)]="personas_form.fecha_nacimiento" class="w-full" required
                    #fecha_nacimiento_post="ngModel" />
                <small class="p-error"
                    *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento_post.dirty || fecha_nacimiento_post.touched)">
                    La fecha es obligatoria.
                </small>
            </div>

            <!-- Botones -->
            <div class="flex justify-content-end gap-2">
                <p-button label="Cancelar" severity="secondary" (onClick)="visible_post = false" />
                <p-button label="Guardar" type="submit" [disabled]="formPost.invalid" />
            </div>
        </p-dialog>
    </form>
    <p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle"></p-confirmDialog>


</p-card>