.navbar {
  background-color: #ffffff;
  padding: 0.75rem 2rem;
  color: rgb(255, 255, 255);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
  margin-right: 0.75rem;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 172, 201);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
